robotframework==4.1
robotframework-sshlibrary==3.8.0
robotframework-seleniumlibrary==5.1.0
robotframework-requests==0.5.0
robotframework-jsonlibrary==0.3.1
robotframework-databaselibrary==1.1.1
robotframework-imaplibrary==0.3.0
robotframework-archivelibrary
robotframework-kafkalibrary-py3
robotframework-excellib==2.0.0
RESTinstance==1.0.0rc4
requests==2.20.0
pyyaml==3.11
pymysql
boto3==1.12.18
botocore==1.15.22
jsonpath-rw==1.4.0
jsonpath==0.81
jsonpath-ng==1.4.3
jsonpath-rw-ext==1.2.0
pysftp==0.2.9
psycopg2-binary==2.8.4
psutil
geopy
timezonefinder==5.2.0